includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    excludePaths:
        - vendor
        - storage
        - bootstrap/cache
    checkMissingIterableValueType: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
