.git
.gitignore
.gitattributes
.venv
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
.import_linter_cache
.coverage
.coverage.*
htmlcov
.env
.env.*
!.env.example
.idea
.vscode
.DS_Store
*.log
tests
scripts
README.md
test.py
scaffold.py
main.py
.projx-component
