NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_OIDC_URL=http://localhost:8080
NEXT_PUBLIC_OIDC_REALM=master
NEXT_PUBLIC_OIDC_CLIENT_ID=frontend

NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=production
NEXT_PUBLIC_SENTRY_RELEASE=
